*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 70%;
  margin: auto;
  background-image:url(https://media.discordapp.net/attachments/761546561938784260/765549206365798410/natural-default-pattern.png);
}

.head{
  width: 970px;
  height: 300px;
  background-color: white;
  position: relative;
}

.sfondo-head{
  width: 962px;
  height: 242px;
  margin: 4px;
  background-color: red;
  position: absolute;
}





.nav-bar{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: gray;
  text-align: center;

}

ul li {
  display: inline-block;
  list-style: none;
  padding: 16px  10px;
  vertical-align: middle;
}

ul li:hover {
  background: #CDC1C5;
}

li {
  text-decoration:none;
  text-transform: capitalize;
  height: 100%;
  display: inline-block;
  font-size: 15px;
  font-family: sans-serif;
  color:white;
  cursor: pointer;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.container:after{
  content: "";
  display: table;
  clear:both;
}

.side-sx{
  width: 25%;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px
}

.side-cn{
  width: 50%;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 25px;

}

.colonna{
  width: 20%;
  padding: 0;
  margin: 0;
}

.side-dx{
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.distanza{
  margin-top: 30px;
}

.finale{
  width: 100%;
  height: 100px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;

}
